// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn {
    background-color: #3e3e3e;
}

body {
    background-color: #3e3e3e;
}

.card-body{
    background-color: #96c32a;
    color: #3e3e3e
}

.card-header {
    background-color: #3e3e3e;
    text-align: center;
    color: #96c32a;
}

.card .btn {
    color: #96c32a;
}

h1 {
    color: #96c32a;
    text-align: center;
    font-size: 500%;
    text-shadow: 3px 2px rgb(11, 128, 7);
   font-family: "times new roman";
}